body { background: #5a8e78; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 48px; display: flex; }
.block-uploader-0 { color: #bb39a8; font-size: 16px; margin-bottom: 5px; }
.block-order-1 { color: #11faa4; font-size: 14px; margin-bottom: 5px; }
.block-validator-2 { color: #387c2b; font-size: 19px; margin-bottom: 5px; }
.block-token-3 { color: #525171; font-size: 18px; margin-bottom: 5px; }
.block-email-4 { color: #6228a7; font-size: 16px; margin-bottom: 5px; }